.categorias-container {
  margin-left: 20px;
  margin-right: 20px ;
  padding: 20px;
  background: linear-gradient(135deg, #2a003f, #4a148c);
  min-height: 100vh;
  color: #fff;
}

.categorias-container h2 {
  text-align: center;
  color: #e1baff;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.botones .btn {
  background-color: #7b1fa2;
  border: none;
  color: white;
  font-weight: bold;
  transition: background 0.3s ease;
}

.botones .btn:hover {
  background-color: #9c27b0;
}

.table {
  background-color: #3b1a5e;
  border-radius: 10px;
  overflow: hidden;
}

.table thead {
  background: #6a1b9a;
  color: #fff;
}

.table td,
.table th {
  text-align: center;
  vertical-align: middle;
}
